<p id="aim">{{aim}}</p>

<div class="form">
    <h1>Login</h1>

    <form (ngSubmit)="login()">
        <div class="login-form">
            <input type="text" id="bk_username" [(ngModel)]="acno" [placeholder]="accno" name="acno" />
            <input type="password" id="bk_password" [(ngModel)]="pswd" placeholder="password" name="password"/>
            <button type="submit">login</button>
            <p class="message">Not registered? <a routerLink="register">Create an account</a></p>
        </div>
    </form>

</div>