<div class="container">
    <table class="table table-dark mt-5">
        <thead>
            <tr class="table-dark text-center">
                <th class="table-dark">Amount</th>
                <th class="table-dark">Type</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-dark text-center">
                <td class="table-dark">1</td>
                <td class="table-dark">Mark</td>
            </tr>
            <tr class="table-dark text-center">
                <td class="table-dark">2</td>
                <td class="table-dark">Jacob</td>

            </tr>
            <tr class="table-dark text-center">
                <td class="table-dark">3</td>
                <td class="table-dark">Larry the Bird</td>

            </tr>
        </tbody>
    </table>
</div>